celery
django
django-allauth
django-celery-beat
django-constance
django-constance[database]
django-htmx
django-filter
django-storages
django-storages[boto3]
django-tables2
django-widget-tweaks
docker
gunicorn
jsonschema
pika
psycopg2
pydantic
python-ldap
pyyaml
redis
rapidfuzz
whitenoise

# drf and optional dependencies
djangorestframework
drf-spectacular
drf-spectacular[sidecar]
