{% load widget_tweaks %}
<span id="form-modal-label" hx-swap-oob="innerHTML">
    {% if variable %}
        Update
    {% else %}
        Add
    {% endif %}
Variable</span>
<div id="form-modal-body" hx-swap-oob="innerHTML">
    <form method="post"
          id="modal-form"
          hx-target="#form-modal-content"
          hx-swap="beforeend"
          hx-post="{% if variable %}{% url 'ui:variable-update' variable.id parent_id %}{% else %}{% url 'ui:variable-create' parent_id %}{% endif %}">
        {% csrf_token %}
        {{ form.non_field_errors.as_text }}
        <div class="mb-3">
            {{ form.name.label_tag }}
            {% render_field form.name autofocus=true %}
            {{ form.name.errors }}
        </div>
        <div class="mb-3">
            {{ form.protect.label_tag }}
            {{ form.protect }}
            {{ form.protect.errors }}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}
        </div>
        <div class="mb-3">
            {{ form.value.label_tag }}
            {{ form.value }}
            {{ form.value.errors }}
        </div>
    </form>
</div>
<div id="form-modal-footer" hx-swap-oob="innerHTML">
    <button class="btn btn-primary"
            form="modal-form"
            type="submit"
            title="{% if variable %}Update{% else %}Add{% endif %}">
        {% if variable %}
            Update
        {% else %}
            Add
        {% endif %}
    </button>
</div>
