{% load widget_tweaks %}
<span id="form-modal-label" hx-swap-oob="innerHTML">Add Role</span>
<div id="form-modal-body" hx-swap-oob="innerHTML">
    <p class="lead">Assign role to user for this environment.</p>
    <form hx-post="{% url 'ui:environmentuserrole-create' environment_id %}"
          method="post"
          id="modal-form"
          hx-target="#form-modal-content"
          hx-swap="beforeend">
        {% csrf_token %}
        <input type="hidden" name="environment" value="{{ environment_id }}" />
        {{ form.non_field_errors.as_text }}
        <div class="mb-3">
            {{ form.user.label_tag }}
            <input class="form-control"
                   name="user"
                   id="user"
                   list="user-list"
                   {% if username %}disabled{% else %}autofocus{% endif %}
                   placeholder="{% if username %}{{ username }}{% else %}Type to search...{% endif %}"
                   hx-get="{% url 'ui:get-users' %}"
                   hx-trigger="keyup changed delay:500ms"
                   hx-swap="outerHTML"
                   hx-target="#user-list-block"
                   required />
            {% if not username %}
                {% include "partials/teams/user_list.html" with usernames=usernames %}
                {{ form.user.errors }}
            {% else %}
                {% comment %} Username value needs to be in this hidden field, not in the above disabled field {% endcomment %}
                <input type="hidden" name="user" value="{{ username }}" />
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.role.label_tag }}
            {% if not username %}
                {{ form.role }}
            {% else %}
                {% render_field form.role autofocus=true %}
            {% endif %}
            {{ form.role.errors }}
        </div>
    </form>
</div>
<div id="form-modal-footer" hx-swap-oob="innerHTML">
    <button class="btn btn-primary"
            type="submit"
            form="modal-form"
            title="Add Role">Add Role</button>
</div>
