{% load renderers %}
<div>
    <span class="fw-semibold fs-4">
        <i class="fa fa-user fa-sm fa-fw me-1"></i>Users
    </span>
    <div class="ms-4 my-2">
        {% render_table user_table 'partials/table_template.html' %}
        {% if request.session.user_can_create_userrole %}
            <button class="btn btn-primary fa-plus"
                    type="button"
                    title="Add User Role"
                    data-bs-toggle="modal"
                    data-bs-target="#form-modal"
                    hx-target="#form-modal-content"
                    hx-swap="beforeend"
                    hx-get="{% url 'ui:environmentuserrole-create' environment_id %}">
                Add
            </button>
        {% endif %}
    </div>
</div>
