<span id="form-modal-label" hx-swap-oob="innerHTML">
    {% if process == "connect" %}
        Connect {{ provider.name }}
    {% else %}
        Sign in via {{ provider.name }}
    {% endif %}
</span>
<div id="form-modal-body" hx-swap-oob="innerHTML">
    {% if process == "connect" %}
        You are about to connect a new third party account from {{ provider.name }}.
    {% else %}
        You are about to sign in using a third party account from {{ provider.name }}.
    {% endif %}
</div>
<div id="form-modal-footer" hx-swap-oob="innerHTML">
    <form method="post" action="{{ request.get_full_path }}">
        {% csrf_token %}
        <button class="btn btn-success" type="submit" title="Continue" autofocus>
            Continue
        </button>
    </form>
</div>
