{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block extrastyle %}
    <link rel="shortcut icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'admin_favicon/favicon-32x32.png' %}" />
    <link rel="stylesheet"
          href="{% static 'css/fontawesome-6.2.1.min.css' %}"
          type="text/css" />
    <link rel="stylesheet"
          href="{% static 'css/fontawesome-solid-6.2.1.min.css' %}"
          type="text/css" />
    <link rel="stylesheet"
          href="{% static 'css/functionary.css' %}"
          type="text/css" />
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" type="text/css" />
{% endblock extrastyle %}
<!-- Header -->
{% block branding %}
    <div class="admin-header">
        <a href="{% url 'admin:index' %}">
            <h1 id="site-name">
                <span class="custom-f">F</span>
                <span class="functionary-title">unctionary  administration</span>
            </h1>
        </a>
        <div class="header-links">
            {% if user.is_authenticated %}
                <div>{% translate "Welcome, " %}{{ user }}</div>
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% translate "Documentation" %}</a>
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                    <div>
                        <i class="fa fa-key fa-sm"></i>
                        <a class="underline-header" href="{% url 'admin:password_change' %}">{% translate "Change password" %}</a>
                    </div>
                {% endif %}
                <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
                    {% csrf_token %}
                    <i class="fa fa-door-open fa-sm"></i>
                    <button type="submit">{% translate "Log out" %}</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock branding %}
{% block usertools %}
{% endblock usertools %}
