{% extends "base.html" %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ui:environment-list' %}">Environment List</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ environment.name }}</li>
        </ol>
    </nav>
    <h1 class="mt-2 mb-4">
        <i class="fa fa-building"></i>
        {{ environment.name }}
    </h1>
    <div class="vstack gap-2 my-2">
        <div>
            <strong class="fs-4"><i class="fa fa-users fa-sm fa-fw me-1"></i>Team</strong>
            <p class="ms-4 my-2">
                <a href="{% url 'ui:team-detail' pk=environment.team.id %}">{{ environment.team.name }}</a>
            </p>
        </div>
        {% include "partials/environments/environment_management.html" %}
        {% include "partials/variables_section.html" with parent_object=environment parent_id=environment.id %}
        {% if packages %}
            <div>
                <strong class="fs-4"><i class="fa fa-cubes fa-sm fa-fw me-1"></i>Packages</strong>
                <div class="ms-4 my-2">
                    <div id="packages" class="list-group list-group-flush">
                        {% for package in packages %}
                            <a href="{% url 'ui:package-detail' package.id %}"
                               class="list-group-item list-group-item-action">
                                <p class="fw-bold mb-0">{{ package.render_name }}</p>
                                <p class="ms-4 mb-0">{{ package.summary }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
