{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col col-xl-10 col-xl-8">
            <h2 class="mt-2 mb-4">
                <i class="fa fa-building"></i>
                {{ environment.name }}
            </h2>
            <div class="vstack gap-2 my-2">
                {% include "partials/environments/environment_management.html" %}
                {% include "partials/variables_section.html" with parent_object=environment parent_id=environment.id %}
            </div>
        </div>
    </div>
{% endblock content %}
