{% extends "base.html" %}
{% load static %}
{% load extras %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb my-1 pb-1">
            <li class="breadcrumb-item">
                <a href="{% url 'ui:function-list' %}">Functions</a>
            </li>
            <li class="breadcrumb-item">
                <i class="fa fa-cubes"></i>
                <a href="{% url 'ui:package-detail' function.package.id %}">{{ function.package.render_name }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ function.render_name }}</li>
        </ol>
    </nav>
    <hr />
    <div class="row">
        <div class="col-10 col-md-8 col-xl-7">
            <h2 class="mt-2 mb-4">
                <i class="fa fa-cube"></i>
                <span>{{ function.render_name }}</span>
            </h2>
            <div class="vstack gap-2 my-2">
                {% if not function.active %}
                    <div class="alert alert-warning text-center" role="alert">
                        <i class="fa fa-triangle-exclamation"></i>
                        This function is currently inactive
                    </div>
                {% endif %}
                {% if function.description %}
                    <div>
                        <h3 class="fw-semibold">
                            <i class="fa fa-newspaper fa-sm fa-fw me-1"></i>Description
                        </h3>
                        <p class="ms-4 my-2">{{ function.description }}</p>
                    </div>
                {% elif function.summary %}
                    <div>
                        <h3 class="fw-semibold">
                            <i class="fa fa-rectangle-list fa-sm fa-fw me-1"></i>Summary
                        </h3>
                        <p class="ms-4 my-2">{{ function.summary }}</p>
                    </div>
                {% endif %}
                {% if function.return_type %}
                    <div>
                        <h3 class="fw-semibold">
                            <i class="fa fa-right-from-bracket fa-sm fa-fw me-1"></i>Return Type
                        </h3>
                        <p class="ms-4 my-2">{{ function.return_type }}</p>
                    </div>
                {% endif %}
                {% if form is not None %}
                    <div>
                        {% if function.active %}
                            <h3 class="fw-semibold">
                                <i class="fa fa-pencil-alt fa-sm fa-fw me-1"></i>Create Task
                            </h3>
                            <div class="ms-4 my-2">
                                <div class="row">
                                    <div class="col col-lg-10 col-xl-9 col-xxl-8">
                                        <form id="taskCreateForm"
                                              method="post"
                                              action="{% url 'ui:function-execute' %}"
                                              enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input type="hidden" name="function_id" value="{{ function.id }}"/>
                                            {{ form.non_field_errors }}
                                            {{ form }}
                                        </form>
                                    </div>
                                </div>
                                {% if missing_variables %}
                                    <div class="alert alert-danger" role="alert">
                                        <p>Tasking this function may not work as expected; the following variables are missing:</p>
                                        <ul>
                                            {% for missing in missing_variables %}<li>{{ missing }}</li>{% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <button class="btn {% if missing_variables %}btn-warning{% else %}btn-primary{% endif %}"
                                        type="submit"
                                        title="Execute"
                                        form="taskCreateForm">
                                    Execute
                                </button>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
