{% extends "base.html" %}
{% block content %}
    {% with package.active_functions as functions %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'ui:package-list' %}">Package List</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ package.render_name }}</li>
            </ol>
        </nav>
        <h1 class="mt-2 mb-4">
            <i class="fa fa-cubes"></i>
            {{ package.render_name }}
        </h1>
        <div class="vstack gap-2 my-2">
            {% if package.description %}
                <div>
                    <strong class="fs-4"><i class="fa fa-newspaper fa-sm fa-fw me-1"></i>Description</strong>
                    <p class="ms-4 my-2">{{ package.description }}</p>
                </div>
            {% elif package.summary %}
                <div>
                    <strong class="fs-4"><i class="fa fa-rectangle-list fa-sm fa-fw me-1"></i>Summary</strong>
                    <p class="ms-4 my-2">{{ package.summary }}</p>
                </div>
            {% endif %}
            <div>
                <strong class="fs-4"><i class="fa fa-cube fa-sm fa-fw me-1"></i>Functions</strong>
                <div class="ms-4 my-2">
                    <div id="funcs" class="list-group list-group-flush">
                        {% for function in functions %}
                            <a href="{% url 'ui:function-detail' function.id %}"
                               class="list-group-item list-group-item-action">
                                <p class="fw-bold mb-0">{{ function.render_name }}</p>
                                <p class="ms-4 mb-0">{{ function.summary }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock content %}
