{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-between  align-items-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item active" aria-current="page">Schedules</li>
            </ol>
        </nav>
        <div>
            <a class="btn btn-primary btn-sm fa-plus py-1 h-75"
               title="Create New Scheduled Task"
               type="button"
               href="{% url 'ui:scheduledtask-create' %}">
                Create Scheduled Task
            </a>
            {% include "partials/list_filter_button.html" %}
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col me-xl-auto">{% include "partials/table.html" %}</div>
        {% include "partials/list_filter.html" %}
    </div>
{% endblock content %}
