{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col col-xl-10 col-xl-8">
            <h1 class="mt-2 mb-1">
                <i class="fa fa-users"></i>
                <span>{{ team.name }}</span>
            </h1>
            <div class="vstack gap-3 my-4">
                <div>
                    <span class="fw-semibold fs-4">
                        <i class="fa fa-building fa-sm fa-fw me-1"></i>Environments
                    </span>
                    <div class="ms-4 my-2">
                        <ul id="envs" class="list-group list-group-flush">
                            {% for env in environments %}
                                <li class="list-group-item">{{ env.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% include "partials/teams/team_management.html" %}
                {% include "partials/variables_section.html" with parent_object=team parent_id=team.id %}
            </div>
        </div>
    </div>
{% endblock content %}
