{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-between">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Workflow List</li>
            </ol>
        </nav>
        {% if request.session.user_can_create_workflow %}
            <a class="btn btn-primary fa-plus"
               type="button"
               title="Create New Workflow"
               hx-target="body"
               hx-swap="beforeend"
               hx-get="{% url 'ui:workflow-create' %}">
                Create Workflow
            </a>
        {% endif %}
    </div>
    {% if filter %}
        {% include "partials/list_filter.html" %}
    {% endif %}
    {% include "partials/table.html" %}
{% endblock content %}
