{% load widget_tweaks %}
<span id="form-modal-label" hx-swap-oob="innerHTML">Update User's Role</span>
<div id="form-modal-body" hx-swap-oob="innerHTML">
    <p class="lead">Update user's role for the team.</p>
    <form hx-post="{% url 'ui:teamuserrole-update' teamuserrole.team.id teamuserrole.id %}"
          method="post"
          id="modal-form"
          hx-target="#form-modal-content"
          hx-swap="beforeend">
        {% csrf_token %}
        {{ form.non_field_errors.as_text }}
        <div class="mb-3">
            {{ form.user.label_tag }}
            <input id="user"
                   class="form-control"
                   disabled
                   placeholder="{{ teamuserrole.user.username }}" />
            {% comment %} Username value needs to be in this hidden field, not in the above disabled field {% endcomment %}
            <input type="hidden" name="user" value="{{ teamuserrole.user.username }}" />
            <input type="hidden" name="team" value="{{ teamuserrole.team.id }}" />
            {{ form.user.errors }}
        </div>
        <div class="mb-3">
            {{ form.role.label_tag }}
            {% render_field form.role autofocus=true %}
            {{ form.role.errors }}
        </div>
    </form>
</div>
<div id="form-modal-footer" hx-swap-oob="innerHTML">
    <button class="btn btn-primary"
            type="submit"
            form="modal-form"
            title="Update Role">Update Role</button>
</div>
