<span id="form-modal-label" hx-swap-oob="innerHTML">Add Role</span>
<div id="form-modal-body" hx-swap-oob="innerHTML">
    <p class="lead">Assign role to user for this team.</p>
    <form hx-post="{% url 'ui:teamuserrole-create' team_id %}"
          method="post"
          id="modal-form"
          hx-target="#form-modal-content"
          hx-swap="beforeend">
        {% csrf_token %}
        {{ form.non_field_errors.as_text }}
        <div class="mb-3">
            {{ form.user.label_tag }}
            <input class="form-control"
                   name="user"
                   id="user"
                   autofocus
                   list="user-list"
                   placeholder="Type to search..."
                   hx-get="{% url 'ui:get-users' %}"
                   hx-trigger="keyup changed delay:500ms"
                   hx-swap="outerHTML"
                   hx-target="#user-list-block"
                   required />
            {% include "partials/teams/user_list.html" with usernames=usernames %}
            {{ form.user.errors }}
        </div>
        <div class="mb-3">
            {{ form.role.label_tag }}
            {{ form.role }}
            {{ form.role.errors }}
        </div>
        <input type="hidden" name="team" value="{{ team_id }}" />
    </form>
</div>
<div id="form-modal-footer" hx-swap-oob="innerHTML">
    <button class="btn btn-primary"
            type="submit"
            form="modal-form"
            title="Add Role">Add Role</button>
</div>
