{% if log == "" %}
    <p>There are no logs to display.</p>
{% else %}
    <div class="form-check form-switch my-3">
        <input class="form-check-input"
               type="checkbox"
               name="wrap"
               role="switch"
               id="wrap-toggle"
               aria-label="Toggle wrapping logs"
               checked />
        <label class="form-check-label" for="wrap-toggle">Wrap text</label>
    </div>
    <pre class="my-1 font-monospace">{{ log }}</pre>
{% endif %}
