<div id="form-modal"
     class="modal"
     tabindex="-1"
     aria-labelledby="form-modal-label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div id="form-modal-content" class="modal-content">
            <div class="modal-header text-bg-primary">
                <h2 class="modal-title fs-5" id="form-modal-label"></h2>
                <button type="button"
                        title="Close"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div id="form-modal-body" class="modal-body"></div>
            <div id="form-modal-footer" class="modal-footer"></div>
        </div>
    </div>
    <script>
        const myModalEl = document.getElementById('form-modal')
        myModalEl.addEventListener('hidden.bs.modal', event => {
            if (event.target === myModalEl && !myModalEl.hasAttribute("data-keep-contents")) {
                // clear modal contents
                const titleEl = document.getElementById('form-modal-label')
                titleEl.innerHTML = ''
                const contentEl = document.getElementById('form-modal-body')
                contentEl.replaceChildren()
                const footerEl = document.getElementById('form-modal-footer')
                footerEl.replaceChildren()
                // cleanup any modal scripts
                const scriptEl = myModalEl.querySelectorAll('script')
                scriptEl.forEach((el) => el.remove())
            }
        })
    </script>
</div>
