{% extends "django_tables2/bootstrap5-responsive.html" %}
{% load querystring from django_tables2 %}
{% block table.thead %}
    {% if table.show_header %}
        <thead {{ table.attrs.thead.as_html }}>
            <tr>
                {% for column in table.columns %}
                    <th {{ column.attrs.th.as_html }} scope="col">
                        {% if column.orderable %}
                            <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}"
                               title="Click to sort"
                               class="text-nowrap">
                                {{ column.header }}
                                {% if 'asc' in column.attrs.th.as_html %}
                                    <i class="fa fa-sm fa-fw fa-caret-up" title="Sorted in ascending order"></i>
                                {% elif 'desc' in column.attrs.th.as_html %}
                                    <i class="fa fa-sm fa-fw fa-caret-down"
                                       title="Sorted in descending order"></i>
                                {% else %}
                                    <i class="fa fa-sm fa-fw fa-sort"></i>
                                {% endif %}
                            </a>
                        {% else %}
                            {{ column.header }}
                        {% endif %}
                    </th>
                {% endfor %}
            </tr>
        </thead>
    {% endif %}
{% endblock table.thead %}
