<div id="token">
    <h3 class="fw-semibold">
        <i class="fa fa-id-badge fa-sm fa-fw pe-1"></i>Token
    </h3>
    <div class="ms-4">
        <div class="form-check form-switch my-3">
            <input class="form-check-input"
                   type="checkbox"
                   name="show"
                   role="switch"
                   id="show-toggle"
                   onclick="toggleToken()"/>
            <label class="form-check-label" for="show-toggle">Show token</label>
        </div>
        <div class="col-9 my-1">
            <form >
                {% csrf_token %}
                <span class="col-7 font-monospace d-none" data-token="{{ token.key }}">{{ token.key }}</span>
                <span id="masked_token" class="col-7 font-monospace">••••••••••••••••••••••••••••••••••••••••</span>
                <button class="btn btn-sm border-0 btn-outline"
                        type="submit"
                        title="Regenerate Token"
                        hx-target="#token"
                        hx-swap="outerHTML"
                        hx-post="{% url 'ui:token-refresh' %}">
                    <icon class="fa fa-recycle text-success" />
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    function toggleToken() {
        const class_name = "d-none"
        const masked_token = document.getElementById("masked_token")
        const is_hidden = masked_token.classList.contains(class_name)
        if (is_hidden) {
            masked_token.classList.remove(class_name)
            masked_token.previousElementSibling.classList.add(class_name)
        } else {
            masked_token.classList.add(class_name)
            masked_token.previousElementSibling.classList.remove(class_name)
        }
    }
</script>
