{% load renderers %}
<div id="variable_section">
    <span class="fw-semibold fs-4">
        <i class="fa fa-tags fa-sm fa-fw me-1"></i>Variables
    </span>
    <div class="ms-4 my-2">
        {% render_table variable_table 'partials/table_template.html' %}
        {% if request.session.user_can_create_variable %}
            <button class="btn btn-primary fa-plus"
                    type="button"
                    title="Add Variable"
                    data-bs-toggle="modal"
                    data-bs-target="#form-modal"
                    hx-target="#form-modal-content"
                    hx-swap="beforeend"
                    hx-get="{% url 'ui:variable-create' parent_id=parent_object.id %}">
                Add
            </button>
        {% endif %}
    </div>
</div>
