<tr id="variable-{{ variable.id }}">
    <td>
        <p title="{{ variable.description }}">{{ variable.name }}</p>
    </td>
    <td>
        {% if not variable.protect %}
            {{ variable.value }}
        {% else %}
            <span class="fa fa-user-secret" title="Protected Value"/>
        {% endif %}
    </td>
    <td>
        {% if request.session.user_can_update_variable %}
            <button class="btn btn-small text-info fa fa-pencil-alt"
                    type="button"
                    title="Edit"
                    hx-target="#variable-list"
                    hx-swap="beforeend"
                    hx-get="{% url 'ui:variable-update' pk=variable.id parent_id=parent_id %}"/>
        {% endif %}
        {% if request.session.user_can_delete_variable %}
            <button class="btn btn-small text-danger fa fa-trash"
                    type="button"
                    title="Delete"
                    hx-confirm="Are you sure you want to delete {{ variable.name }}?"
                    hx-target="closest tr"
                    hx-swap="outerHTML swap:1s"
                    hx-delete="{% url 'ui:variable-delete' variable.id %}"/>
        {% endif %}
    </td>
</tr>
