{% load django_htmx %}
<div id="variable_section">
    <h3 class="fw-semibold">
        <i class="fa fa-tags fa-sm fa-fw me-1"></i>Variables
    </h3>
    <div class="ms-4 my-2">
        <div class="table-container">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Value</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% include "partials/variable_rows.html" with variables=variables parent_id=parent_id %}
            </table>
        </div>
        {% if request.session.user_can_create_variable %}
            <button class="btn btn-primary fa-plus"
                    type="button"
                    title="Add Variable"
                    hx-target="#variable-list"
                    hx-swap="beforeend"
                    hx-post="{% url 'ui:variable-create' parent_id=parent_object.id %}?all=true">
                Add
            </button>
        {% endif %}
    </div>
</div>
{% django_htmx_script %}
