{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'ui:scheduledtask-list' %}">Schedules List</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {% if update %}
                    {{ scheduledtask.name }}
                {% else %}
                    Create
                {% endif %}
            </li>
        </ol>
    </nav>
    <h2 class="my-2">
        <i class="fa fa-clock"></i>
        {% if update %}
            Update
        {% else %}
            Create
        {% endif %}
        Schedule
    </h2>
    {% if form %}
        {% if form.non_field_errors %}
            <div id="scheduled-task-alert"
                 class="alert alert-warning alert-dismissible fade show"
                 role="alert">
                Non-Field Errors:
                {{ form.non_field_errors }}
                <button type="button"
                        class="btn-close"
                        title="Close"
                        data-bs-dismiss="alert"
                        onclick="document.querySelector('#scheduled-task-alert').remove();"
                        aria-label="Close">
                </button>
            </div>
        {% endif %}
        <div class="row">
            <div class="col col-lg-10 col-xl-9 col-xxl-8">
                <form method="post"
                      action="{% if update %}{% url 'ui:scheduledtask-update' scheduledtask.id %} {% else %}{% url 'ui:scheduledtask-create' %}{% endif %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="vstack gap-2 my-2">
                        <div>
                            <h3 class="fw-semibold">
                                <i class="fa fa-font fa-sm fa-fw me-1"></i>Name
                            </h3>
                            <div class="ms-4 my-2">{% render_field form.name class="form-control" %}</div>
                            <div class="text-danger">{{ form.name.errors }}</div>
                        </div>
                        <div>
                            <h3 class="fw-semibold">
                                <i class="fa fa-newspaper fa-sm fa-fw me-1"></i>Description
                            </h3>
                            <div class="ms-4 my-2">{% render_field form.description class="textarea form-control" rows=3 cols=40 %}</div>
                            <div class="text-danger">{{ form.description.errors }}</div>
                        </div>
                        {% if update %}
                            <div>
                                <h3 class="fw-semibold">
                                    <i class="fa fa-heart-pulse fa-sm fa-fw me-1"></i>Status
                                </h3>
                                <div class="ms-4 my-2">{% render_field form.status class="form-select" %}</div>
                                <div class="text-danger">{{ form.status.errors }}</div>
                            </div>
                        {% endif %}
                        <div>
                            <h3 class="fw-semibold">
                                <i class="fa fa-calendar fa-sm fa-fw me-1"></i>Crontab Schedule
                            </h3>
                            <div class="row ms-4 my-2 g-1">
                                {% for form_item in form %}
                                    {% if 'scheduled' in form_item.id_for_label %}
                                        <div class="col">
                                            <div class="form-floating" title="{{ form_item.label }}">
                                                {% render_field form_item class="form-control" id="{{ form_item.id_for_label }}-input" aria-describedby="{{ form_item.label }}HelpError {{ form_item.id_for_label }}_errors" %}
                                                <label for="{{ form_item.id_for_label }}-input" class="col-form-label-sm">{{ form_item.label }}</label>
                                                <div class="text-danger">{{ form_item.errors }}</div>
                                                <div id="{{ form_item.id_for_label }}_errors"></div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <h3 class="fw-semibold">
                                <i class="fa fa-cube fa-sm fa-fw me-1"></i>Function
                            </h3>
                            <div class="ms-4 my-2">
                                {% if update %}
                                    {% render_field form.function disabled=True class="form-select" %}
                                {% else %}
                                    {% render_field form.function class="form-select" %}
                                {% endif %}
                                <div class="text-danger">{{ form.function.errors }}</div>
                            </div>
                        </div>
                        <div>
                            <h3 class="fw-semibold">
                                <i class="fa fa-list fa-sm fa-fw me-1"></i>Parameters
                            </h3>
                            <div class="font-monospace ms-4 my-2" id="function-parameters">
                                {% comment %} Render function param form if available. Else, lazy load. {% endcomment %}
                                {% if task_parameter_form %}
                                    {{ task_parameter_form }}
                                {% else %}
                                    <div hx-trigger="load"
                                         hx-get="{% url 'ui:function-parameters' %}"
                                         hx-vals='{"function": "{{ form.function.id }}"}'>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if update %}
                        <input type="hidden" name="function" value="{{ scheduledtask.function_id }}"/>
                        <input class="btn btn-primary" type="submit" value="Update"/>
                    {% else %}
                        <input class="btn btn-primary" type="submit" value="Create"/>
                    {% endif %}
                </form>
            </div>
        </div>
    {% endif %}
    <!--what if no form?-->
{% endblock content %}
