{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="d-flex">{% include "partials/breadcrumb.html" %}</div>
    <hr />
    <div class="row">
        <div class="col col-lg-10 col-xl-9 col-xxl-8">
            <h2 class="mt-2 mb-1">
                <i class="fa fa-clock"></i>
                {% if update %}
                    Update
                {% else %}
                    Create
                {% endif %}
                Schedule
            </h2>
            {% if form %}
                <div class="my-4">{{ form.non_field_errors.as_text }}</div>
                <form method="post"
                      action="{% if update %}{% url 'ui:scheduledtask-update' scheduledtask.id %} {% else %}{% url 'ui:scheduledtask-create' %}{% endif %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card my-4">
                        <div class="card-body pb-1 vstack gap-3">
                            <div>
                                {{ form.name.label_tag }}
                                {{ form.name }}
                                {{ form.name.errors }}
                            </div>
                            <div>
                                {{ form.description.label_tag }}
                                {{ form.description }}
                                {{ form.description.errors }}
                            </div>
                            {% if update %}
                                <div>
                                    {{ form.status.label_tag }}
                                    {{ form.status }}
                                    {{ form.status.errors }}
                                </div>
                            {% endif %}
                            <div>
                                <div class="fw-semibold" for="crontab">
                                    <i class="fa fa-calendar fa-sm fa-fw me-2"></i>Crontab Schedule *
                                </div>
                                <div class="row g-1">
                                    {% for form_item in form %}
                                        {% if 'scheduled' in form_item.id_for_label %}
                                            <div class="col">
                                                <div class="form-floating" title="{{ form_item.label }}">
                                                    {{ form_item }}
                                                    <label for="{{ form_item.id_for_label }}"
                                                           class="col-form-label-sm{% if form_item.errors %} text-danger{% endif %}">
                                                        {{ form_item.label }}
                                                    </label>
                                                    {{ form_item.errors }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div>
                                {{ form.tasked_object.label_tag }}
                                {% render_field form.tasked_object disabled=True %}
                                {{ form.tasked_object.errors }}
                            </div>
                            <div>
                                <label class="fw-semibold mb-2">
                                    <i class="fa fa-list fa-sm fa-fw me-2"></i>Parameters
                                </label>
                                <div id="tasked_object-parameters">
                                    {% if task_parameter_form.fields %}
                                        <div class="mt-1">{{ task_parameter_form }}</div>
                                    {% else %}
                                        <p class="font-monospace mb-3">No parameters</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if update %}
                        <button class="btn btn-primary" type="submit" title="Update">Update</button>
                    {% else %}
                        <button class="btn btn-primary" type="submit" title="Create">Create</button>
                    {% endif %}
                    <input type="hidden" name="tasked_type" value="{{ tasked_type }}" />
                    <input type="hidden" name="tasked_id" value="{{ tasked_id }}" />
                </form>
            {% endif %}
        </div>
    </div>
{% endblock content %}
