<div>
    <h3 class="fw-semibold">
        <i class="fa fa-user fa-sm fa-fw me-1"></i>Users
    </h3>
    <div class="ms-4 my-2">
        <div class="table-container">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Role</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in user_details %}
                        <tr>
                            <td>{{ u.user.first_name }} {{ u.user.last_name }}</td>
                            <td>{{ u.user.username }}</td>
                            <td>{{ u.role }}</td>
                            <td>
                                {% if request.session.user_can_update_userrole %}
                                    <button class="btn btn-small text-info fa fa-pencil-alt"
                                            title="Edit user"
                                            type="button"
                                            hx-get="{% url 'ui:teamuserrole-update' team_id u.team_user_role_id %}"
                                            hx-target="#user-modal">
                                    </button>
                                {% endif %}
                                {% if request.session.user_can_delete_userrole %}
                                    <button class="btn btn-small text-danger fa fa-trash"
                                            title="Delete"
                                            type="button"
                                            hx-target="closest tr"
                                            hx-swap="outerHTML swap:1s"
                                            hx-post="{% url 'ui:teamuserrole-delete' team_id u.team_user_role_id %}"
                                            hx-confirm="Are you sure you want to remove {{ u.user.username }}'s role from this team?">
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="user-modal"></div>
        {% if request.session.user_can_create_userrole %}
            <button class="btn btn-primary fa-plus"
                    type="button"
                    title="Add Team"
                    hx-target="#user-modal"
                    hx-trigger="click"
                    hx-get="{% url 'ui:teamuserrole-create' team_id %}">
                Add
            </button>
        {% endif %}
    </div>
</div>
