{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-between">
        {% include "partials/breadcrumb.html" %}
        {% if filter %}
            {% include "partials/list_filter_button.html" %}
        {% endif %}
    </div>
    <hr />
    <div class="row">
        <div class="col me-xl-auto">{% include "partials/table.html" %}</div>
        {% if filter %}
            {% include "partials/list_filter.html" %}
        {% endif %}
    </div>
{% endblock content %}
