{% load renderers %}
<div id="social_account_connections">
    <span class="fw-semibold fs-4">
        <i class="fa fa-id-card fa-sm fa-fw pe-1"></i>
        Account Connections
    </span>
    <div class="ms-4">
        <div class="col-9 my-1">
            {% if not socialaccounts_table %}
                <p>No third party accounts available to connect</p>
            {% else %}
                <p>Manage third party account login connections here.</p>
                <form hx-post="{% url 'ui:account-disconnect-social' %}">
                    {% csrf_token %}
                    {% render_table socialaccounts_table 'partials/table_template.html' %}
                </form>
            {% endif %}
        </div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
</div>
