{% load widget_tweaks %}
<span id="form-modal-label" hx-swap-oob="innerHTML">Workflow Parameter</span>
<div id="form-modal-body" hx-swap-oob="innerHTML">
    <form id="modal-form"
          method="post"
          hx-post="{% if workflowparameter %}{% url 'ui:workflowparameter-update' workflow.pk workflowparameter.pk %}{% else %}{% url 'ui:workflowparameter-create' workflow.pk %}{% endif %}"
          hx-target="#form-modal-content"
          hx-swap="beforeend"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors.as_text }}
        <div class="mb-3">
            {{ form.name.label_tag }}
            {% render_field form.name autofocus=true %}
            {{ form.name.errors }}
        </div>
        <div class="mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}
        </div>
        <div class="mb-3">
            {{ form.parameter_type.label_tag }}
            {{ form.parameter_type }}
            {{ form.parameter_type.errors }}
        </div>
        <div class="mb-3">
            {{ form.required.label_tag }}
            {{ form.required }}
            {{ form.required.errors }}
        </div>
        <input type="hidden" name="workflow" value="{{ workflow.id }}" />
    </form>
</div>
<div id="form-modal-footer" hx-swap-oob="innerHTML">
    <button class="btn btn-primary" type="submit" form="modal-form" title="Save">
        Save
    </button>
</div>
