{% extends "base.html" %}
{% block content %}
    <div id="build_detail"
         hx-swap-oob="true"
         {% if not completed %} hx-get="{% url 'ui:build-detail' build.id %}?poll=true" hx-trigger="every 15s"{% endif %}>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-1 pb-1">
                <li class="breadcrumb-item">
                    <a href="{% url 'ui:build-list' %}">Builds</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ build.package.render_name }}</li>
            </ol>
        </nav>
        <hr />
        <div class="row">
            <div class="col-10 col-md-8 col-xl-7">
                <div class="hstack gap-3 mt-2 mb-1 align-items-center">
                    <h2>
                        <i class="fa fa-wrench"></i>
                        {{ build.package.render_name }}
                    </h2>
                    <div class="status-color" title={{ build.status }}>
                        <i class="fa fa-circle-info"></i>
                        <span class="fs-5">{{ build.status }}</span>
                    </div>
                </div>
                <div class="vstack gap-3 my-4">
                    <div>
                        <h3 class="fw-semibold">
                            <i class="fa fa-user fa-sm fa-fw me-1"></i>Creator
                        </h3>
                        <p class="ms-4 my-2">
                            {{ build.creator.first_name }} {{ build.creator.last_name }} <span class="text-muted">({{ build.creator.username }})</span>
                            at {{ build.created_at }}
                        </p>
                    </div>
                    {% if build.updated_at %}
                        <div>
                            <h3 class="fw-semibold">
                                <i class="fa fa-clock-rotate-left fa-sm fa-fw me-1"></i>Last Updated
                            </h3>
                            <p class="ms-4 my-2">{{ build.updated_at }}</p>
                        </div>
                    {% endif %}
                    {% if build_log.log %}
                        <div>
                            <h3 class="fw-semibold">
                                <i class="fa fa-book fa-sm fa-fw me-1"></i>Build Log
                            </h3>
                            <div class="ms-4">
                                <div class="form-check form-switch my-3">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           name="wrap"
                                           role="switch"
                                           id="wrap-toggle"
                                           checked/>
                                    <label class="form-check-label" for="wrap-toggle">Wrap text</label>
                                </div>
                                <pre class="my-1 font-monospace">{{ build_log.log }}</pre>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
