:root {
    --breadcrumbs-fg: #FFFFCC;
}
@font-face {
    font-family: "Playball";
    src: url("../webfonts/Functionary_Playball.woff2");
}
.admin-header {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1020;
    justify-content: space-between;
    align-items: center;
}
.custom-f {
    font-size: 4rem;
    font-family: "Playball", cursive;
    font-weight: 300;
    line-height: 1.2;
}
.header-links {
    text-transform: uppercase;
    text-align: right;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 0.25rem;
}
.deletelink-box:not(:last-child) {
    margin-bottom: 0em;
    box-sizing: content-box;
}
.module h2 {
    text-transform: capitalize;
}
/* Match header form button classes */
.underline-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    font-weight: 300;
    font-size: 0.6875rem;
}
.underline-header:hover {
    border-bottom: 0px;
}
#branding {
    width: 100%;
}
#nav-sidebar tr > * {
    padding: 10px;
}
#nav-filter {
    display: none;
}
td.original {
    display: none;
}
th.original {
    display: none;
}
td.delete::before {
    all: revert;
}
td.delete::after {
    all: revert;
}
tr.form-row td.delete {
    all: revert;
}
a.cancel-link {
    box-sizing: content-box;
}
.text-danger {
    color: var(--error-fg);
}