.functionary-title {
    margin-left: -1rem;
}
.top-right-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.errorlist > li,
.errors {
    color: var(--bs-danger-text);
}
.navbar .btn {
    color: var(--bs-navbar-color);
}
.navbar .btn:hover,
.navbar .btn:focus,
.navbar .btn.show {
    background-color: var(--bs-navbar-color);
    color: var(--bs-primary);
}
.navbar-nav .nav-link:not(.active):hover,
.navbar-nav .nav-link:not(.active):focus {
    background-color: var(--bs-nav-link-color);
}
.fa-sort {
    color: var(--bs-sort-color);
}
.orderable a:hover .fa-sort {
    color: var(--bs-link-hover-color);
}
/* the :has() must be user enabled to work on firefox */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:has#browser_compatibility */
div:has(input[type="checkbox"][name="wrap"]:not(:checked)) ~ pre {
    white-space: pre;
}
.navbar .dropdown-toggle::after {
    display: none;
}
.status-color[title="PENDING"],
.status-color[title="IN_PROGRESS"]{
    color: var(--bs-info);
}
.status-color[title="ACTIVE"],
.status-color[title="COMPLETE"]{
    color: var(--bs-success);
}
.status-color[title="PAUSED"]{
    color:  var(--bs-warning-text-emphasis);
}
.status-color[title="ERROR"]{
    color: var(--bs-danger);
}
.status-color[title="ARCHIVED"]{
    color: var(--bs-archive-color);
}
/* add style for programmatically focused buttons since focusVisible not supported */
/* https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/focus */
button[autofocus]:focus {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
}
datalist{
    z-index: 1500;
}
.wrap-json,
pre {
    overflow-x: auto;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-size: inherit;
}
.missing-variables > ul {
    list-style: inside;
}
.form-check:has(input[type="text"]) {
    display: inherit;
}
.form-switch:has(input[type="text"]) {
    padding-left: 0em;
}
.filechooser-table {
    min-height: 150px;
    height: 33vh;
    overflow-y: auto;
}
.grab {
    cursor: grab;
}
tr.sortablejs-background-class {
    --bs-table-striped-bg: var(--bs-secondary);
    --bs-table-bg: var(--bs-secondary);
}
.sortablejs-background-class {
	background-color: var(--bs-secondary);
}

.line-clamp {
    /* avoid padding bottom as it could cause more lines to be displayed than expected */
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@media ( prefers-reduced-motion: reduce ) {
    .animation {
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
  }
}
