.logo-blue {
    filter: brightness(0) saturate(100%) invert(29%) sepia(87%) saturate(1396%) hue-rotate(214deg) brightness(88%) contrast(80%);
}
.functionary-logo {
    margin-bottom: -1px;
    margin-right: -1rem;
}
.functionary-title {
    margin-left: -1rem;
}
.top-right-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.environment-select {
    border: none;
    background: none;
    color:white;
    font-size:1em;
}
.environment-select * {
    color: black;
}
.errorlist > li {
    color: var(--bs-danger-text);
}
.errors {
    color: var(--bs-danger-text);
}
.json-string {
    color: #7a7a00;
}
.form-fill {
    background-color: #F2F2F2; /* --bs-table-striped-bg over white */
}
details > summary {
    font-size: 1.75rem;
}
details > summary > * {
    display: inline;
}
.navbar .btn {
    color: var(--bs-navbar-color);
}
.navbar .btn:hover,
.navbar .btn.show {
    background-color: var(--bs-navbar-color);
    color: var(--bs-primary);
}
.navbar-nav .nav-link:not(.active):hover,
.navbar-nav .nav-link:not(.active):focus {
    background-color: var(--bs-nav-link-color);
}
.fa-sort {
    color: var(--bs-gray-500);
}
.orderable a:hover .fa-sort {
    color: var(--bs-link-hover-color);
}
/* the :has() must be user enabled to work on firefox */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/:has#browser_compatibility */
div:has(input[type="checkbox"][name="wrap"]:not(:checked)) ~ pre {
    white-space: pre;
}
.navbar .dropdown-toggle::after {
    display: none;
}
.status-color[title="PENDING"],
.status-color[title="IN_PROGRESS"]{
    color: var(--bs-info);
}
.status-color[title="ACTIVE"]{
    color: var(--bs-success);
}
.status-color[title="PAUSED"]{
    color:  var(--bs-warning-text);
}
.status-color[title="ERROR"]{
    color: var(--bs-danger);
}
.status-color[title="ARCHIVED"],
.status-color[title="COMPLETE"]{
    color: var(--bs-dark);
}
datalist{
    z-index: 1500;
}
.wrap-json,
pre {
    overflow-x: auto;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.missing-variables > ul {
    list-style: inside;
}
tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 1s ease-out;
}
body div aside {
    max-width: fit-content;
}
/* Re-apply backdrop color because table wipes it */
table .modal-backdrop {
    background-color: var(--bs-backdrop-bg);
}
